body{
    background-color: #F6E8E8;
}
.tebar button {
    margin-top: 3%;
    margin-left: 18%;
    justify-content: space-between;
    align-items: center;
}

.tebar2{
    margin-top: 5%;
    margin-left: 24%;
    width: 60%;
}